<!--Leads Page that shows all contacts-->
<% include ../partials/header %>
    <h1>List of Available Contacts</h1>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    
    <div class="row">
        <div class="col-lg-2">
            <a class="btn btn-primary" href="#" data-toggle="modal" data-backdrop="static" data-target="#newContactModal" >Add new contact</a>
        </div>
            <div class="col-6">
                <div class="input-group">
                    <input class="contactSearch" type="search" value="search">
                    <div class="input-group-append">
                        <button class="btn btn-outline-success" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                
                </div>
            </div>
    </div>
    <div class="jumbotron col-md-10">
        <table class="table">
                <% contacts.forEach(function(contacts){ %>
                <div class="container">
                    <tr>
                        <td class="ui-state-default col-md-3 pull-left"><strong><a href="/contact/<%=contacts._id%>"><%=contacts.firstName%> <%=contacts.lastName%></a></strong></td>
                    </tr>
                </div>
            <% }); %>
        </table>
    </div>
    <div class="col-md-1">
    </div>
<% include ../contact/newModal %>
<% include ../partials/footer %>