<!--Leads Page that shows all contacts-->
<% include ../partials/header %>
    <h1>List of available Contacts</h1>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function() {
            $( "#sortable" ).sortable();
        } );

    </script>
    
    <div class="col-md-1">
        <a class="btn btn-primary" href="/contact/new">Add new contact</a>
    </div>
    <div class="jumbotron col-md-10">
        <table class="table">
            <tbody id="sortable">
                <% contacts.forEach(function(contacts){ %>
                <div class="container">
                    <tr>
                        <td class="ui-state-default col-md-3 pull-left"><strong><a href="/contact/<%=contacts._id%>"><%=contacts.firstName%> <%=contacts.lastName%></a></strong></td>
                    </tr>
                </div>
            <% }); %>
            </tbody>
        </table>
    </div>
    <div class="col-md-1">
    </div>
<% include ../partials/footer %>