.navbar-inverse{
    background-color: #6699ff;
    padding-right:25px;
}
.navbar-inverse .navbar-nav>li>a{
    color:white;
}
.navbar-inverse .navbar-brand{
    color:white;
}
.btn-primary{
    background-color:#6699ff;
    margin-right:25px;
}
body{
    background-color: #bababa;
}
.jumbotron{
    margin-left:25px;
    background: url(https://livinglikekings.files.wordpress.com/2008/11/allstate-hands.gif);
    background-position:center;
    background-repeat:no-repeat;
    height: 100%;
    overflow: hidden;
    background-size:cover;
}
h1{
    color:white;
    padding-left:25px;
}
.thumbnails{
    background-color:transparent;
}


.panel{
    margin-right:10px;
}