.navbar-inverse{
    background-color: #6699ff;
    padding-right:25px;
}
.navbar-inverse .navbar-nav>li>a{
    color:white;
}
.navbar-inverse .navbar-brand{
    color:white;
}
.btn-primary{
    background-color:#6699ff;
    margin-right:25px;
}
body{
    background-color: #bababa;
}
.jumbotron{
    margin-left:25px;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsJfrFLrElQmHum153Zyikyg0pVwWYcPDvWkNPOdMYdf2bMIYC);
    background-position:center;
    background-repeat:no-repeat;
    height: 100%;
    overflow: hidden;
    background-size:cover;
}
h1{
    color:white;
    padding-left:25px;
}
.thumbnails{
    background-color:transparent;
}


.panel{
    margin-right:10px;
}

#month{
    text-align: center;
    background-color:blue;
    color:white;
    padding:25px;
    border:solid white 5px;
    font-size: 16px;
    line-height:1.42857143;
    font-family: "Open Sans", sans-serif;
    box-sizing:border-box;
}
#trending{
    text-align:center;
    background-color: red;
    color: white;
    line-height: 1.42857143;
    box-sizing: border-box;
    padding-top:30px;
    padding:25px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}
#dailygoals{
    font-family: "Open Sans", sans-serif;
    font-size:16px;
    padding: 25px;
    box-sizing:border-box;
    
}