.navbar {
    background-color: #6699ff;
    height: 50%;
}
.nav-link {
    color: white;
    font: bold;
}
.btn-primary{
    background-color:#6699ff;
    margin-right:25px;
}
body{
    background-color: #bababa;
}
.jumbotron{
    margin-left:25px;
    background-position:center;
    background-repeat:no-repeat;
    height: 100%;
    overflow: hidden;
    background-size:cover;
}
#month{
    text-align: center;
    background-color:blue;
    color:white;
    padding:25px;
    border:solid white 5px;
    font-size: 16px;
    line-height:1.42857143;
    font-family: "Open Sans", sans-serif;
    box-sizing:border-box;
}
#trending{
    text-align:center;
    background-color: red;
    color: white;
    line-height: 1.42857143;
    box-sizing: border-box;
    padding-top:20px;
    padding:25px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}
#dailygoals{
    font-family: "Open Sans", sans-serif;
    font-size:16px;
    padding: 15px;
    box-sizing: border-box;
}
#leadPipeline{
    background-color: white;
    border: 5px solid #bababa;
    text-align: center;
    margin:none auto;
}


#prospectPipeline{
    background-color: white;
    border: 5px solid #bababa;
    text-align: center;
    margin:none auto;
}
#prospectFollowUp{
    border: 2px solid gray;
    text-decoration: underline;
}
#leadFollowUp{
    border: 2px solid gray;
    text-decoration: underline;
}
.pipeline-btn {
    margin: 2px;
    width: 150px;
    text-align: center;
}
.customer-information {
    background-color: #999;
    border: 2.5px solid #b7b7b7;
}
.activity-sidebar {
    background-color: #333;
    color: #fff;
    height: 100%;
    border-left: 2.5px solid #b7b7b7;
    border-top: 2.5px solid #b7b7b7;
}
.otherinfo-sidebar{
    background-color: #333;
    color: #fff;
    height: 100%;
    border-right: 2.5px solid #b7b7b7;
    border-top: 2.5px solid #b7b7b7;
}
.add-icon {
    display: inline;
}
hr {
    border-top: 2px solid white;
}
.comment-block {
    border-left: 2.5px solid #b7b7b7;
    border-right: 2.5px solid #b7b7b7;
    border-bottom: 2.5px solid #b7b7b7;
    background-color: #999;
    width: 100%;
}
.btn {
    margin: 5px;
}
.cust-container {
    border-radius: 10px;
}
h1 {
    display: inline;
}
.hr-black {
    border: 1px solid black;
}
.comment-container {
    display: inline;
}
.hot {
    background-color: #ffb3b3;
}
.warm {
    background-color: #ffe0b3;
}
.cold {
    background-color: #b3b3ff;
}
.table td {
    padding: 0;
}
