<!--Leads Page that shows all contacts-->
<% include ../partials/header %>
    <h1>List of available Contacts</h1>

    <div class="col-md-1">
        <a class="btn btn-primary" href="/contact/new">Add new contact</a>
    </div>
    <div class="jumbotron col-md-10">
    <tbody>
        <% contacts.forEach(function(contacts){ %>
            <% if (contacts.contactType == "Lead") { %>
                <table class="table">
                    <tr>
                        <td><strong><a href="/contact/<%=contacts._id%>"><%=contacts.firstName%> <%=contacts.lastName%></a></strong></td>
                    </tr>
                    </div>
            <% }; %>
        <% }); %>
    </tbody>
    </div>
<% include ../partials/footer %>